<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web Slider Development Info Page</title>
  </head>
  <body>
    <p>Development server is running!</p>
    <p>
      To add component to Web Slider App and get realtime preview during
      development use following parameters:
    </p>
    <p>
      Development URL for Player Component:
      <strong>http://localhost:<%= port %>/<%= filenamePlayer %></strong>
      <br />
      Development URL for App Component:
      <strong>http://localhost:<%= port %>/<%= filenameApp %></strong>
      <br />
      Object UID: <strong><%= objectUid %></strong>
    </p>
  </body>
</html>
